button{
    color: blue;
    background-color: red;
    height: 65px;
    width: 65px;
}
.input{
    height: 35px; 
    font-size: 22px;
    background-color: red;
    color: darkgoldenrod;
}

.info{
    font-size: 20px;
    
    background-color: aqua;
    text-align: left
}
.main{
    text-align: right;
}
#ac{
    text-align: left;
    font-size: 20px;
   background-color:black;
    
}
body{
    background-color: lightgoldenrodyellow;
}
#buttons_set{
    text-align: left;
}
  

